/**
 * Styles for the home page
 */

.post-entry {
  margin-bottom: calc(2 * var(--spacing));

  .thumbnail-container {
    margin-top: var(--spacing);
    border-radius: .5em;
    overflow: hidden;
  }
  
  .thumbnail-container img {
    margin-top    : -20%;
    margin-bottom : -20%;
  }
}

.pagination {
  margin-top: var(--spacing);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: .8em;

  .prev, .next {
    padding: var(--spacing);
    border: 1px solid;
  }

  .prev {
    border-radius: 1em 0 0 1em;
  }

  .next {
    border-radius: 0 1em 1em 0;
  }

  .home-prev, .home-next {
    text-align: center;
  }

  .unable {
    color: var(--body-color-light);
    border-style: dashed;
  }

  a {
    color: var(--body-color-light);

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: var(--body-fg);
    }
  }
}
